
#avatar {
	grid-area: avatar;
}
#avatar-pic {
	left: 39%;
	position: relative;
}
#edit {
	grid-area: edit;
}
.edit-btn {
	left: 52%;
	position: relative;
}
#username {
	grid-area: username;
	padding-left: 1rem;
}
#profil-nav {
	grid-area: profil-nav ;
}
#profil-nav > a {
	color:		#3D3F45;
	text-decoration: none;
	padding:	1rem;
}
#profil-nav > a:hover {
	color:		#3D3F45;
	background-color: 	#E5E5E5;
	text-decoration: none;
	padding:	1rem;
}
#profil {
	grid-area: profil ;
}

.container-acc {
	padding-left: 1rem;
}

#gridcontainer {
	display: grid;
	grid-template-areas:
		'avatar username username'
		'avatar profil-nav profil-nav'
		'avatar profil profil'
		'edit profil profil'
		'edit profil profil'
		'edit profil profil';
	grid-gap: 0px;
	padding: 0px;
	align-items: center;

}

@media screen and (max-width: 376px) {
	#gridcontainer {
		display: grid;
		grid-template-areas:
			'username'
			'avatar'
			'edit'
			'profil';
		grid-gap: 0px;
		padding: 0px;
		align-items: center;
	}
	
}
body {
   padding-top: 56px;
}
