
#container {
	background-color: white;
	width: 30%;
	margin: 5rem auto 5% auto;
	padding: 2%;
	box-shadow: 5px 4px 8px 0 rgba(0, 0, 0, 0.1), 0px 6px 20px 20px rgba(0, 0, 0, 0.05);
	min-width: 30rem;
}
#container h2 {
  text-align: center;
}
#container p {
  text-align: center;
}

.registerbtn, .loginbtn {
  background-color: dodgerblue;
  color: white;
  padding: 15px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
	
}
.input-field {
  width: 100%;
  padding: 8px;
  outline: none;
}
.input-field:focus {
  border: 2px solid dodgerblue;
}
.icon {
  padding: 8px;
  background: dodgerblue;
  color: white;
  min-width: 50px;
  text-align: center;
}
.input-container {
  display: flex;
  width: 100%;
  margin-bottom: 15px;
}
.spantext {
	margin: 15px 20px 0px 0px;
}
#spantext1 {
	margin: 0 35%;
}
#spantext2 {
	margin: 0 17%;
}
#spantext3 {
	margin: 0 35%;
}

.spanlogintext {
	margin: 0 18%;
}
.spantermstext {
	margin: 0 2%;
}